# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.R text
*.csv text

# Declare files that will always have CRLF line endings on checkout.
# none here

# Denote all files that are truly binary and should not be modified. But we
# should not need to keep binary files in git

*.png binary
*.jpg binary
*.pdf binary
 
